{
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "env": {
        "browser": false,
        "node": true,
        "jest": true
    },
    "rules": {
        "@typescript-eslint/indent": [
            "error",
            4
        ]
    }
}